body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.image-preview-multiple {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.image-preview-multiple ._list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
}

.image-preview-multiple ._item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.uploadcare--crop-sizes__item:nth-child(2)::after {
    content: "Квадрат";
}

.uploadcare--crop-sizes__item:nth-child(3)::after {
    content: "Портрет";
}